# API Framework
fastapi==0.124.2
uvicorn[standard]==0.38.0
pydantic==2.12.5

# Data Processing
pandas==2.3.3
numpy==2.3.5

# Data Visualization (si tu en as besoin pour ton ETL)
matplotlib==3.10.7
seaborn==0.13.2
streamlit==1.40.1

# Development Tools (optionnel - uniquement pour le développement)
jupyter==1.1.1
notebook==7.5.0
ipython==9.8.0
